.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.menuItem {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.menuItem a {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.menuItem a:hover {
  opacity: 0.7;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.closeButton:hover {
  opacity: 0.7;
}

.menuItem a {
  text-decoration: none;
  transition: opacity 0.3s ease;
  display: block; /* これによりリンクがli全体をカバーします */
  padding: 10px 0; /* クリック可能な領域を広げます */
}

.menuItem a:hover {
  opacity: 0.7;
}

