.parent {
  position: absolute; 
  padding: 1.4rem 0px;
  top: 6%; 
  bottom: 10%; 
  /* background-color: #18ebb0; */
}
.pageTitle{
  font-size: 24px;
  margin-bottom: 5px;
}
.artwork {
  width: 100%;
  height: auto;
  /* border: 1.2px, solid #06402f; */
}
.discTitle{
  font-size: 20px;
  margin-bottom: 3px;
  margin-left: 5px;
}
.tuneList{
  margin: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 0px;
  left: 20px;
}
.tuneName{
  list-style-type: none;
  font-size: 17px;
  left: 10px;
  line-height: 20px;
  margin-bottom: 0.2em;
}
.highlight {
  background-color: yellow;
  padding: 0 0;
  /* box-shadow: 0 0.1em 0 yellow; */
}
.backTop{
  text-align:right;
  margin-right: 1rem;
}