@charset "utf-8";

/* 
Base style
*/
body {
    font-family: 'Comfortaa','Exo 2','Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}