.container {
  display: flex;
  min-height: 100vh;
  background-color: #fff ;
  background-image:
    radial-gradient(#e0184d 30%, transparent 10%);
  background-size: 8px 8px;
}
.groupName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 100;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  position: fixed;
}
.TT {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  object-fit: cover;
  height: 76%;
  z-index: 99;
}
.groupImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  object-fit: cover;
  height: 76%;
  z-index: 99;
}